---
layout: default
id: overview
nav: true
nav-order: 1
title: Britain, your way

banner:
  content: >
    <div class="container boxpad--lg theme--dark text--center">
      <div class="banner__title banner__title-overview"></div>
    </div>
---


{% include nav/header.html %}
{% include page/banner.html %}


<div class="vpad--xxl bg--grey-darkest theme--dark">
  <div class="container container--xxl text--center">
    <p class="p--xxl">Your freedom to explore is back. Let us help you discover the best of Great Britain and Northern Ireland, with our guide to the secrets, hidden gems, unmissable experiences and unforgettable moments you can safely indulge in this autumn. Piece together your escape with our insider tips, incredible hotel stays, and tailor your next adventure to your exact tastes; because it’s time to treat yourself and escape the everyday.</p>
    <p class="p--xxl">Are you ready to rediscover the best of Great Britain and Northern Ireland? Start with our interactive guide, where your input will reveal some of the incredible things you could experience this autumn...</p>
    <div class="space--sm"></div>
    <a href="#search" class="btn btn--white js-splash">Start now</a>
  </div>
</div>


<div class="search" id="search">


  <div class="search__window loading step-1">

    <div id="step-origin" class="search__step search__step-origin js-step is-active" data-origin="">
      <div class="container boxpad--lg text--center">
        <div class="h h--display h--xxl">Where are you travelling from?</div>

        <div class="space--lg"></div>
        <div class="row row--gutters-sm origins">
          {% for region in site.data.regions %}
          <div class="col origins__option">
            <div class="depth--sm rounded--md img img--16-9" style="background-image: url({{site.img}}/regions/{{region.id}}.jpg);">
              <a href="#search" class="img__link js-origin" data-origin="{{region.id}}" data-origin-country="{{region.country}}"></a>
              <div class="img__content">
                <div class="boxpad--sm">
                  <div class="h h--xxxs text--bold text--upper">{{region.name}}</div>
                </div>
              </div>
              <div class="img__overlay"></div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>



    <div id="step-distance" class="search__step search__step-distance js-step" data-distance="">
      <div class="boxpad--lg text--center">
        <div class="step__title h h--display h--xxl">How far are you willing to travel?</div>

        <div class="distances">
          <a href="javascript:void(0);" class="distances__option distances__option-home js-distance" data-distance="local">
            <div class="distances__label">Staying local</div>
          </a>
          <a href="javascript:void(0);" class="distances__option distances__option-short js-distance" data-distance="drive">
            <div class="distances__label">Driving distance</div>
          </a>
          <a href="javascript:void(0);" class="distances__option distances__option-anywhere js-distance" data-distance="anywhere">
            <div class="distances__label">Anywhere</div>
          </a>
        </div>
      </div>
    </div>



    <div id="step-interests" class="search__step search__step-interests js-step">
      <div class="boxpad--lg">
        <div class="h h--display h--xl">Choose what matters most to you</div>
        <div class="space--lg"></div>

        {% for tag in site.data.tags %}
        <a href="javascript:void(0);" class="depth--md-hover rounded--md interest js-map-filter" data-filter="{{tag.id}}">
          {{tag.name}}
        </a>
        {% endfor %}

        <div class="vpad--lg">
          <a href="{{site.baseurl}}/guides/" class="btn btn--sm js-explore-country">Explore more</a>
          <a href="#search" class="btn btn--sm js-search-reset">Start over</a>
        </div>

      </div>
    </div>



  </div>

  <div class="search__map">
    {% include page/map.html %}
  </div>
</div>

{% include nav/footer.html %}
