---
layout: default
id: overview
nav: true
nav-order: 1
title: Find your Escape
---


{% include nav/header.html %}
{% include nav/site.html %}

<div class="search step-1" id="search">

  <div class="search__window loading">



    <div id="step-origin" class="search__step search__step-origin js-step is-active" data-origin="">
      <div class="boxpad--lg text--center">
        <div class="h h--lg">Let's find your secret escape</div>
        <p class="p--xxl">Firstly, tell us where you're travelling from?</p>

        <div class="vpad--lg">
          <div class="row row--gutters-sm">
            {% for region in site.data.regions %}
            <div class="col col--2">
              <div class="depth--sm rounded--md img img--16-9" style="background-image: url({{site.img}}/img.jpg);">
                <a href="#search" class="img__link js-origin" data-origin="{{region.id}}"></a>
                <div class="img__content">
                  <div class="boxpad--sm">
                    <div class="p--xxl">{{region.name}}</div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>



    <div id="step-distance" class="search__step search__step-distance js-step" data-distance="">
      <div class="boxpad--lg text--center">
        <div class="step__title h h--lg">How far are you willing to travel?</div>

        <div class="distances">
          <a class="distances__option distances__option-home js-distance" data-distance="local">
            <div class="distances__label">Staying local</div>
          </a>
          <a class="distances__option distances__option-short js-distance" data-distance="drive">
            <div class="distances__label">Driving distance</div>
          </a>
          <a class="distances__option distances__option-anywhere js-distance" data-distance="anywhere">
            <div class="distances__label">Anywhere</div>
          </a>
        </div>
      </div>
    </div>



    <div id="step-interests" class="search__step search__step-interests js-step">
      <div class="boxpad--lg">
        <div class="h h--md">What do you want out of your escape?</div>
        <div class="space--lg"></div>

        <div class="row row--gutters-xs">
          {% for tag in site.data.tags %}
          <div class="col col--4">
            <div class="img img--1-1 depth--md-hover rounded--md interest js-map-filter" data-filter="{{tag.id}}" style="background-image: url({{site.img}}/img.jpg);">
              <div class="img__content">
                <div class="h--xxxs">{{tag.name}}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>



    <div class="search__surprise">
      <p>
        <a href="#" class="btn js-search-reset">Start your search over</a>
        <a href="#" class="btn">Random secret</a>
      </p>
    </div>

  </div>

  <div class="search__bg">
    {% include page/map.html %}
  </div>
</div>

{% include nav/footer.html %}
