---
layout: default
id: overview
nav: true
nav-order: 1
title: The UK, your way

banner:
  content: >
    <div class="banner__title banner__title-overview"></div>
---


{% include nav/header.html %}
{% include page/banner.html %}


<div class="vpad--xxl bg--grey-darkest theme--dark">
  <div class="container">
    <div class="row">

      <div class="col col--8">
        <p class="p--xl">Your freedom to explore is back. Let us help you discover the best of Great Britain and Northern Ireland, with our guide to the secrets, hidden gems, unmissable experiences and unforgettable moments you can safely indulge in this autumn. Piece together your escape with our insider tips and incredible hotel stays, and tailor your next adventure to your exact tastes. It’s time to treat yourself and escape the everyday.</p>
        <p class="p--xl">Are you ready to rediscover what lies on your doorstep? Start with our interactive guide, where your input will reveal some of the incredible things you could experience this autumn…</p>
        <div class="space--sm"></div>
        <a href="#search" class="btn btn--white js-splash">Start now</a>
      </div>

      <div class="col col--4">
        <div class="boxpad--sm rounded--md bg--grey-darker">
          <div class="h text--smallcaps">Know before you go</div>
          <p>Read our <a href="https://mp.secretescapes.com/uk/2020/safe-stay-policy/" target="_blank" class="text--link">SafeStay policy</a> to find out what we are doing to ensure your break is as safe as possible.</p>
          <p>Before travelling please know before you go and check the latest government advice and local guidance relevant to your destination. Check local guidelines at <a href="https://www.visitbritain.com/gb/en/escape-everyday" target="_blank" class="text--link">visitbritain.com/escape</a></p>
        </div>
      </div>

    </div>

  </div>
</div>


<div class="search" id="search">


  <div class="search__window loading step-1">

    <div id="step-origin" class="search__step search__step-origin js-step is-active" data-origin="">
      <div class="container boxpad--lg text--center">
        <div class="h h--display h--xxl">Where are you travelling from?</div>

        <div class="space--lg"></div>
        <div class="row row--gutters-sm origins">
          {% for region in site.data.regions %}
          <div class="col origins__option">
            <div class="depth--sm rounded--md img img--16-9" style="background-image: url({{site.img}}/regions/{{region.id}}.jpg);">
              <a href="#search" class="img__link js-origin" data-origin="{{region.id}}" data-origin-country="{{region.country}}"></a>
              <div class="img__content">
                <div class="boxpad--sm">
                  <div class="h h--xxxs text--bold text--upper">{{region.name}}</div>
                </div>
              </div>
              <div class="img__overlay"></div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>



    <div id="step-distance" class="search__step search__step-distance js-step" data-distance="">
      <div class="boxpad--lg text--center">
        <div class="step__title h h--display h--xxl">How far do you want to go?</div>

        <div class="distances">
          <a href="javascript:void(0);" class="distances__option distances__option-home js-distance" data-distance="local">
            <div class="distances__label">Staying local</div>
          </a>
          <a href="javascript:void(0);" class="distances__option distances__option-short js-distance" data-distance="drive">
            <div class="distances__label">Driving distance</div>
          </a>
          <a href="javascript:void(0);" class="distances__option distances__option-anywhere js-distance" data-distance="anywhere">
            <div class="distances__label">Anywhere</div>
          </a>
        </div>
      </div>
    </div>



    <div id="step-interests" class="search__step search__step-interests js-step">
      <div class="boxpad--lg theme--dark">
        <div class="h h--display h--xl">Choose what matters most to you</div>
        <p class="p--lg">Explore our map of the very best hidden gems and Secret Escapes in the UK. If you know what you're looking for in your next break select your interests below.</p>
        <div class="space--md"></div>

        {% for tag in site.data.tags %}
        <a href="javascript:void(0);" class="depth--md-hover rounded--md interest js-map-filter" data-filter="{{tag.id}}">
          {{tag.name}}
        </a>
        {% endfor %}

        <div class="space--lg"></div>

        <div class="explore-country js-explore-country img img--21-9 bg--grey-dark rounded--md depth--md" style="background-image: url({{site.img}}/pages/)">
          <a href="{{site.baseurl}}/guides/" class="img__link"></a>
          <div class="img__content h h--xxxs">
            Explore more
          </div>
          <div class="img__overlay"></div>
        </div>

        <div class="space--lg"></div>

        <a href="#search" class="btn btn--outline js-search-reset">Start over</a>

      </div>
    </div>



  </div>

  <div class="search__map">
    {% include page/map.html %}
  </div>
</div>

{% include nav/footer.html %}
