
<div class="container">
  {% if section.name %}
  <div class="h h--md">{{section.name}}</div>
  <div class="space--md"></div>
  {% endif %}

  <div class="row row--gutters-lg">
    {% for item in section.pois %}
    {% assign poi = site.data.pois[page.id] | where: "id", item.id %}
    {% for poi in poi %}
    <div class="col col--6">

      <div class="img img--4-3" style="background-image: url({{site.img}}/pois/{{poi.id}}.jpg);">
        <div class="img__tags">
          {% assign tags = poi.tags | split: ', ' %}
          {% for tag in tags %}
            {% assign datatags = site.data.tags | where: "id", tag %}
            {% for datatag in datatags %}
              <span class="tag">{{datatag.name}}</span>
            {% endfor %}
          {% endfor %}
        </div>
      </div>

      <div class="space--sm"></div>

      <div class="location">{{poi.location.name}}</div>
      <div class="h h--xs">{{poi.editorial.name}}</div>
      <p>{{poi.editorial.description}}</p>

    </div>
    {% endfor %}
    {% endfor %}
  </div>

</div>
