// styles for adding titles, links and hover effects for .bg-image

.img {
  // Vertically centered content in bg-image
  @include transition;
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-overlay;
    cursor: pointer;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    text-align: center;
    padding: 0 $s0;
    & hr { background-color: rgba($white,0.2); }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-color: rgba($black,.4);
    @include transition;
  }
  &__tags {
    position: absolute;
    top: $s-2; left: $s-2;
    z-index: $z-content;
  }
  &__warning {
    position: absolute;
    top: $s-2; left: $s-2;
    z-index: $z-content;
    background-color: rgba($error-light,0.9);
    border: 1px solid $error-medium;
    border-radius: 3px;
    padding: 2px 8px;
    font-size: 14px;
    &:before {
      content: "";
      display: inline-block;
      font-weight: 800;
      font-size: $s-2;
      height: $s0; width: $s0;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;
      background-color: $error-medium;
      color: $white;
      margin-right: 8px;
      background-image: url('../img/icons/attr-warning.svg');
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &:hover &__overlay { background-color: rgba($black,.6); }
  &--grow {
    transform: scale(1);
    &:hover {
      transform: scale(1.05);
    }
  }
}