// general styles for the project that wouldn't be a reuseable component


.tag {
  background-color: $black;
  color: $white;
  padding: $s-6 $s-2;
  display: inline-block;
  border-radius: 3px;
  margin-right: 2px;
  margin-left: 2px;
  font-size: $s-1;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}











/*=========================================
  Overview page
*/
#search {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: $grey-darkest;
}

.search {
  &__filter {
    position: absolute;
    z-index: $z-content-upper;
    top: $s4; left: $s4;
    background-color: $white;
  }

  // Map fixed in the background
  &__bg {
    position: absolute;
    z-index: 0;
    top: 0; bottom: 0;
    left: 33.33%; right: 0;
  }

  // Surprise me
  &__surprise {
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
    z-index: $z-content-upper;
    background-color: rgba($black,0.5);
    color: $white;
    padding: $s2;
    text-align: center;
  }

  // Interface for searching
  &__window {
    background-color: $white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba($black,0.2);
    position: absolute;
    z-index: $z-content-upper;
    top: $s4; bottom: $s4;
    left: $s4; right: $s4;
    display: flex;
    flex-direction: column;
    opacity: 1;
    &.loading { opacity: 0; }
    .step-3 & {
      right: 66.667%;
    }
  }

  // STEPS
  &__step {
    width: 100%;
    overflow: scroll;
    display: none;

    // Where are you travelling from?
    &-origin {
      .step-1 & { display: block; }
    }

    // How far are you willing to travel
    &-distance {
      .step-2 & { display: block; }

      background-color: $secondary-light;
      height: 100%;
      & .step__title { position: absolute; top: $s4; left: $s4; z-index: 10;}
      .distances {
        position: absolute;
        top: 0; right: 0; bottom: 0;
        left: -100%;
        z-index: 0;
        &__label {
          position: absolute;
          top: 50%;
          right: $s6;
          transform: translateY(-50%);
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.01rem;
          font-size: $s1;
        }
        &__option {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          display: block;
          border-radius: 50%;
          &:before {
            content: "";
            display: block;
            width: 100%;
            padding-top: 100%;
          }
          &-home {
            z-index: 3;
            background-color: $secondary-lightest;
            width: 20%;
          }
          &-short {
            width: 50%;
            z-index: 2;
            background-color: $secondary-lighter;
          }
          &-anywhere {
            width: 100%;
            border-radius: 0;
            z-index: 1;
          }
        }
      }
    }

    // What do you want out of your escape
    &-interests {
      .step-3 & { display: block; }

      & .interest {
        cursor: pointer;
        display: block;
        border: 0;
        &.active { border: 3px solid $primary; }
      }
    }
  }
}


#map {
  width: 100%;
  height: 100%;
  & .marker { display: block; }
  &.hide-family .marker--family { display: none; }
  &.hide-beach .marker--beach { display: none; }
  &.hide-coast .marker--coast { display: none; }
  &.hide-city .marker--city { display: none; }
  &.hide-history .marker--history { display: none; }
  &.hide-country .marker--country { display: none; }
  &.hide-active .marker--active { display: none; }
  &.hide-escape .marker--escape { display: none; }
  &.hide-food .marker--food { display: none; }
  &.hide-relax .marker--relax { display: none; }
}
.mapboxgl-map {
  font-family: $sans !important;
  font-size: 14px !important;
}
.mapboxgl-popup-content { padding: 0 !important; }
.mapboxgl-popup-close-button { z-index: 1; background-color: $white !important; }
.mapboxgl-canvas:focus { outline: none; }

.marker {
  width: $s4;
  height: $s4;
  border-radius: 50%;
  cursor: pointer;
  @include background-attributes;
}


