// general styles for the project that wouldn't be a reuseable component


.tag {
  background-color: $black;
  color: $white;
  padding: 3px 12px 4px;
  display: inline-block;
  border-radius: 3px;
  margin-right: 2px;
  margin-left: 2px;
  font-size: $s-1;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}




/*=========================================
  Overview page
*/
$sidebar-width: 40%;
$background-colour: #17181b;
#search {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $background-colour;
}
.search {

  // Map fixed in the background
  &__map {
    position: relative;
    z-index: 0;
    height: 100%;
    &:before {
      content: none;
      display: block;
      z-index: 5;
      pointer-events: none;
      position: absolute;
      top: 0; bottom: 0;
      right: 0;
      width: $sidebar-width/2;
      background: linear-gradient(-90deg, rgba($background-colour,1) 0%, rgba($background-colour,0) 100%);
    }
    @include bp($xxxl){
      position: absolute;
      z-index: 0;
      top: 0; bottom: 0;
      left: 0; right: $sidebar-width;
      &:before {
        content: "";
      }
    }
  }

  // Interface for searching
  &__window {
    overflow: scroll;
    position: absolute;
    z-index: $z-content-upper;
    top: 0; right: 0;
    height: 100%; width: 100%;
    padding: $s2;
    background-color: rgba($background-colour,0.8);
    opacity: 1;
    &.loading { opacity: 0; }
    &.step-3 {
      right: -100%;
    }
    @include bp($xxxl){
      padding: $s6;
      &.step-3 {
        right: 0;
        padding: $s6 0;
        background-color: transparent;
        width: $sidebar-width;
      }
    }
  }

  // Steps
  &__step {
    border-radius: 10px;
    width: 100%;
    min-height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;

    // Where are you travelling from?
    &-origin {
      background-color: $black;
      color: $white;
      .step-1 & { display: flex; }
      .origins {
        &__option {
          flex: 0 0 50%; max-width: 50%;
          @include bp($lg) {
            flex: 0 0 16.66%; max-width: 16.66%;
          }
          @include bp($xxl) {
            flex: 0 0 20%; max-width: 20%;
          }
        }
      }
    }

    // How far are you willing to travel
    &-distance {
      background-color: $secondary-light;
      background: linear-gradient(90deg, rgba($secondary-light,1) 0%, rgba($secondary,1) 100%);
      color: $white;
      height: 100%;
      overflow: hidden;
      .step-2 & { display: flex; }
      @include bp($xxl) {
        & .step__title { position: absolute; top: $s6; left: $s6; z-index: 10;}
      }

      .distances {
        &__label {
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.01rem;
          font-size: $s2;
          text-align: center;
          padding-top: $s4;
        }
        @include bp($xxl) {
          position: absolute;
          top: 0; right: 0; bottom: 0;
          left: -100%;
          z-index: 0;
          &__label {
            position: absolute;
            top: 50%;
            right: $s3;
            transform: translateY(-50%);
            text-align: left;
            padding: 0;
          }
          &__option {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            display: block;
            border-radius: 50%;
            &:before {
              content: "";
              display: block;
              width: 100%;
              padding-top: 100%;
            }
            &-home {
              z-index: 3;
              background-color: $secondary-darkest;
              background: linear-gradient(90deg, rgba($secondary-darker,1) 0%, rgba($secondary-darkest,1) 100%);
              width: 20%;
            }
            &-short {
              width: 50%;
              z-index: 2;
              background-color: $secondary-dark;
              background: linear-gradient(90deg, rgba($secondary-dark,1) 0%, rgba($secondary-darker,1) 100%);
            }
            &-anywhere {
              width: 100%;
              border-radius: 0;
              z-index: 1;
            }
          }
        }
      }
    }

    // What do you want out of your escape
    &-interests {
      float: right;
      background-color: transparent;
      box-shadow: none;
      color: $white;
      .step-3 & { display: block; }

      & .interest {
        @include transition;
        display: inline-block;
        border: 0;
        text-transform: uppercase;
        font-weight: 600;
        padding: $s-2 $s1;
        margin-right: $s-4;
        margin-bottom: $s-4;
        border: 1px solid rgba($white,0.2);
        background-color: rgba($secondary-darkest,0.5);
        &:hover {
          background-color: $secondary-darkest;
        }
        &.active { background-color: $secondary; }
        &.inactive { opacity: 0.5; }
      }
      & .explore-country {
        max-height: 120px;
        border: 1px solid rgba($white,0.2);
      }
    }
  }
}


#map {
  width: 100%;
  height: 100%;
  & .marker { display: block; }
}
.mapboxgl-map {
  font-family: $sans !important;
  font-size: 16px !important;
  line-height: 1.6rem !important;
}
// .mapboxgl-control-container > div { z-index: 20; }
.mapboxgl-popup { z-index: $z-overlay; width: 420px; }
.mapboxgl-popup-content { padding: 0 !important; overflow: hidden;}
.mapboxgl-popup-close-button {
  z-index: $z-overlay; background-color: $white !important;
  height: 20px; width: 20px;
  border-bottom-left-radius: 3px;
}
.mapboxgl-canvas:focus { outline: none; }

.marker {
  z-index: 2;
  width: $s5;
  height: $s5;
  border-radius: 50%;
  cursor: pointer;
  @include background-attributes;
  &:hover {
    z-index: 3;
    width: $s6;
    height: $s6;
  }
}

.se-marker {
  z-index: 1;
  width: $s3;
  height: $s3;
  border-radius: 50%;
  cursor: pointer;
  background-color: $black;
  background-image: url('../img/logo/icon.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    z-index: 3;
    width: $s4;
    height: $s4;
  }
}



/*=========================================
  Guide pages
*/

.guide {

  &__section {
    padding-top: $s8;
  }
}

