---
layout: page
---

<div class="container vpad--xxl text--center">
  {{page.intro}}
</div>
<div class="bg--white">
  <div class="container">
    <div class="row">
      {% assign children = site.html_pages | where: 'group-parent', page.id %}
      {% for child in children %}
      <div class="col col--6">
        <div class="img img--1-1 depth--md-hover rounded--md" style="background-image: url({{site.img}}/pages/{{child.id}}/nav.jpg);">
          <a href="{{site.baseurl}}{{child.url}}" class="img__link"></a>
          <div class="img__content">
            <div class="h h--xxxl h--display">{{child.title}}</div>
          </div>
          <div class="img__overlay"></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="space--xxl"></div>
</div>