---
layout: page
---

<div class="bg--grey-darkest theme--dark">
  <div class="container container--xxl text--center">
    <p class="p--xxxl">{{page.intro}}</p>
    <div class="space--xxl"></div>
  </div>
</div>


{% for section in page.sections %}
<div class="guide__section">
  {% if section.type == 'popups' %}
    {% include sections/popups.html %}
  {% elsif section.type == 'features' %}
    {% include sections/features.html %}
  {% elsif section.type == 'two-col' %}
    {% include sections/two-col.html %}
  {% endif %}
</div>
{% endfor %}

<div class="space--xxl"></div>
<div class="bg--grey-lightest vpad--xxl">
  <div class="container">
    <div class="width width--xxl text--center">
      <div class="h h--md">{{page.offers.title}}</div>
      <div class="space--sm"></div>
      <div class="boxpad--sm depth--flat rounded--md">
        <div class="h text--smallcaps">Know before you go</div>
        {{page.offers.covid-information}}
      </div>
      <div class="space--lg"></div>
    </div>

    {% if page.id =='northern-ireland' %}
      {% include offer/all-offers.html %}
    {% else %}
      {% include offer/all-offers-dynamic.html sheet=page.title limit="20" %}
    {% endif %}

    <div class="space--lg"></div>
    <div class="text--center">
      <a href="{{page.offers.view-all-link}}" class="btn">View all deals</a>
    </div>
  </div>

</div>